<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dpzz.weatherpart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--     publicid -> HE2303241602361021    -->
    <!--     key -> c994e4e0208d4ee99d09b99297db9a2a    -->

    <application>
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseCityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeatherMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>